query_extensions:
  sql: SQLResultSet
formats:
  affix: AffixFormatter
  compact: CompactFormatter
  csv: CsvFormatter
  default: DefaultFormatter
  sum: SumFormatter
databases:
- name: sqlite
  url: sqlite:///
- name: default
  url: postgres://postgres@localhost:5432/postgres