[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

isort = "*"


[packages]

flask = "*"
flask-table = "*"
flask-restful = "*"
records = "*"
python-dotenv = "*"
simplejson = "*"
gunicorn = "*"
frozen-flask = "*"
"e1839a8" = {path = ".", editable = true}


[requires]

python_version = "3.6"
