[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nerium = {editable = true, path = "."}

[dev-packages]
coverage = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
