[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nerium = {editable = true,path = "."}
urllib3 = ">=1.24.2"

[dev-packages]
coverage = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-cov = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
